# Dependencies
/vendor
/node_modules

# Environment files
.env
.env.testing

# Laravel storage & logs
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs

# IDE and system files
/.idea
/.vscode
.DS_Store

# PHPUnit cache
.phpunit.result.cache

# Laravel Homestead
Homestead.json
Homestead.yaml

# Debug logs
npm-debug.log
yarn-error.log
